<html>
    <head>
        <title>Maya's Django-Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="http://mayakatz.pythonanywhere.com/">My Blog</a></h1>
        </div>

        <div>
            <h2><a href="http://mayakatz.pythonanywhere.com/admin/blog/post/1/change/">My first post</a></h2>
            <p>published: 1.5.2016, 14:30</p>
        </div>

        <div>
            <h2><a href="http://mayakatz.pythonanywhere.com/admin/blog/post/2/change/">My second post</a></h2>
            <p>published: 1.5.2016, 15:00</p>
        </div>
    </body>
</html>
